<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<!-- 配置全局参数contextConfigLocation，配置其路径为classpath：applicationContext.xml -->
	<context-param>
	 	<param-name>contextConfigLocation</param-name>
	 	<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	<!-- 配置一个spring的核心监听器 ContextLoaderListener。它用于在web应用启动时就加载ioc容器。
	通过读取在contextConfigLocation中定义的xml文件，自动装配ApplicationContext的配置信息，并产生
	WebApplicationContext对象，然后将这个对象放置在ServletContext的属性里，这样我们只要得到
	Servlet就可以得到WebApplicationContext对象，并利用这个对象访问spring容器管理的bean。-->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- 配置Servlet分发器DispatcherServlet -->
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<!-- 此处的 contextConfigLocation与全局配置的contextConfigLocation没有任何关系 -->
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springmvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>com.xiaowen.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<description>设置编码字符集为utf-8</description>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<!-- 过滤所有请求 -->
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	
	<welcome-file-list>
		<welcome-file></welcome-file>
	</welcome-file-list>
</web-app>